<!DOCTYPE html>
{% load static %}
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{% static 'home/assets/images/fav.gif' %}" type="image/gif" />

    <title>Online Yoga classesand Training - Yoga at home with Kerala Yoga Training</title>


    <link href="{% static 'home/assets/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/datepicker.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="{% static 'home/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/owl.theme.css' %}" rel="stylesheet">

    <!--Begin Body Slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/BgSlider1.css' %}" />
    <!--End Body Slider ---->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

    <!--begin for gallery popup-->
    <link rel="stylesheet" href="{% static 'home/assets/css/lightbox.css' %}" media="screen" />
    <link href="{% static 'home/assets/css/style.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/style-inner.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'home/assets/js/jquery-1.11.1.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <style type="text/css">
        .progDetails>p{
            margin:0px;
        }
        .progDetails>p:last-child>span::before{
            content: '\20B9';
        }
        .progDetails>p>span{
            font-weight: bold;
        }
        html{
          overflow: hidden !important;
        }
        .container>.cardon>form input{
          width: 100%;
        }
        .gender>p{
          margin:0px;
          padding-left: 0px;
        }
        .gender>p:last-child>span::before{
            content: '\20B9';
        }
        .gender>p>span{
            font-weight: bold;
        }
        .gender{
          padding-left: 0px;
        }
    </style>
</head>

<body id="backToTop">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-5">
                    <div class="logo text-dark"><h3><b>CYDEZ YOGA</b></h3></div>
                </div>
                <!--col-->

                <div class="col-md-9 col-sm-10 col-xs-12">
                    <div class="row topContactRow">
                        <div class="topContact signArea">
                            <div class="logBox">
                                {% if not user.is_authenticated %}
                                <a class="joinUs" data-toggle="modal" data-target="#sign_up">Join Us</a>
                <a  class="joinUs" data-toggle="modal" data-target="#myModal">Sign In</a>
                                {% endif %}
                            </div>
                            <!--logBox-->

                            <div class="languageRow">

                                <div class="topSocial">
                                    <ul class="topSocial">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                <!--topSocial-->


                            </div>
                            <!--languageRow-->

                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-map-marker"></i></span></figure>
                            <figcaption>
                                <h3>CYDEZ YOGA</h3>
              <p>Innerspace,Kakkanad, Cochin.</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-phone"></i></span></figure>
                            <figcaption>
                                <h3>9567823450</h3>
                                <p>Call Us Today</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                    </div>
                    <!--topContactRow-->



                </div>
                <!--col-->
            </div>
            <!--row-->

        </div>
        <!--container-->
        <nav class="mainNav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--Begin Toop nav------------------------------------------------------ -->
                        <nav class="navbar navbar-default sticky">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <a class="menu_trigger" id="nav-icon1"><span></span><span></span><span></span></a>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="fixedLogo"><a href="{% url 'home' %}"><img src="{% static 'home/assets/images/header-logo.jpg' %}" /></a></div>
                                <ul class="nav navbar-nav">
                                    <li class="dropdown"><a>About Us <span><i class="fa fa-caret-down"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="{% url 'home' %}">Programs </a>

                                    </li>

                                    <li class="dropdown"><a href="{% url 'specialoffers' %}">Special Offers</a></li>
                                    <li class="dropdown"><a href="{% url 'appoinment' %}">Appoinments</a></li>
                                    <li class="dropdown"><a href="{% url 'pricedetails' %}">Price Details & FAQ</a></li>

                                    <li class="dropdown"><a href="#Contact" class="padR0">Contact Us</a></li>
                                    <li class="dropdown mobm"><a href="{% url 'logoutuser' %}" class="padR0">Logout</a></li>

                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>

                        <!--End Toop nav------------------------------------------------------ -->
                    </div>
                    <!--col-->

                </div>
                <!--row-->
            </div>
            <!--container-->

            {%  if user.is_authenticated %}
            <div style="position: absolute;right:10px;top:0px;display: flex;justify-content: center;align-items: center;height: 100%;min-width:200px;">

                <div>Welcome, {{ user.get_full_name|title }}</div>
                &nbsp;
                <span style="font-family: initial;font-weight: 700;">|</span>
                &nbsp;
                <a href="{% url 'logoutuser' %}">Logout</a>
                
            </div>
            {% endif %}
        </nav>
    </header>


    <div class="container">
    <div class="tab-pane active fade in" id="pills-unique" role="tabpanel" aria-labelledby="pills-unique-tab">
        <form class="form-horizontal" action="{% url 'appoinment' %}" method="POST">
          {% csrf_token %}
          <h3 style="text-align: center; padding: 1%; color: gray" >REQUEST AN APPOINTMENT</h3>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="department">Department</label>
            <div class="col-sm-4">
               <select  class="form-control" id="departmentSelect" name="department" onclick="getDoctor()" required>
                <option value="" selected="">---Select Department---</option>
                {% for i in department_values %}
                <option value="{{i.department}}">{{i.department}}</option>
                {% endfor %}
               </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="doctor">Doctor</label>
            <div class="col-sm-4">
               <select  class="form-control" id="doctorSelect" name="doctor">
                <option value="" selected="">---Select Doctor---</option>
                
               </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="name">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name"  name="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="email">Email</label>
            <div class="col-sm-4">
              <input type="name" class="form-control" id="email"  name="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="phone">Phone</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="phone"  name="phone">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="address">Address</label>
            <div class="col-sm-4">
            <input type="text" class="form-control" id="address"  name="address">
            </div>
          </div>
           <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="state">State</label>
            <div class="col-sm-4">
              <input type="name" class="form-control" id="state"  name="state">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="city">City</label>
            <div class="col-sm-4">
              <input type="name" class="form-control" id="city"  name="city">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="zipcode">Zip Code</label>
            <div class="col-sm-4">
              <input type="name" class="form-control" id="zipcode"  name="postcode">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="comment">Comment</label>
            <div class="col-sm-4">
              <textarea type="text" class="form-control" id="comment"  name="comment" rows="4" cols="20"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="date">Date</label>
            <div class="col-sm-4">
                <input name="appoinmentdate" type="date"  id="date"  style="width:350px ;">
            </div>
          </div>
          
          <div class="save text-center" style="padding-bottom: 10px;">
            <button type="submit" class="btn btn-primary btn-lg ">Submit</button>
          </div>
        </form>
      </div>             
    </div>        
            
        <div style="width:100vw;height:100vh;position: fixed;top: 0px;left: 0px;background-color: rgba(0,0,0,.4);z-index: 999;display: flex;justify-content: center;align-items: center;">
  
        <div class="container mt-n10 modalappoin" >
          <div class="row">
            <div class="col-lg-12">
              <!-- Default Bootstrap Form Controls-->
              <div id="default">
                <div class="card mb-4 cardone">

                  <div style="width: 100%;height: 40px;background-color: #087c38;text-align: center;color: #fff;font-family: 'RobotoBold';text-transform: uppercase;font-size: 14px;display: flex;justify-content: center;align-items: center;position: relative;">
                    <span>Order Details</span>
                    <a href="{% url 'appoinment'%}" style="color:rgba(0,0,0,0.5);position: absolute;right:10px;top:5px;font-size: 16px;">
                      <i class="fas fa-times"></i>
                    </a>
                  </div>

                  <div class="card-body">
                    <!-- Component Preview-->
                    <div class="sbp-preview">
                      <div class="sbp-preview-content">
                        <form action="{% url 'appoinment_status' %}" method="POST" style="width: 100%;padding:20px 40px;">{% csrf_token %}

                          <div class="row">
                            <div class="gender">

                              <p>
                                 Consultation Fee :&nbsp;<span>{{ product_price }}</span>
                              </p>
                            </div>
                          </div>
                            <div class="row">

                              <div >
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Please choose an appointment date</label>
                                  <input class="form-control" name="date" id="exampleFormControlInput1" type="date" value="{{ date }}" required>
                                </div>
                              </div>
                              
                            </div>
                            <h3 class="text-center">Personal Details</h3>
                            <div class="row">

                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Name</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{name}}">
                                </div>
                              </div>
                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Phone Number</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{phone}}">
                                </div>
                              </div>
                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Email</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{email}}">
                                </div>
                              </div>
                              <div class="col-sm-12">
                               
                    
                              </div>
                            </div>
                            <input name="appointmentId" type="hidden" value="{{appointmentId}}">
                            <script    src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="rzp_test_XgmvlQJpfvtHMI"
                            data-amount="{{ price }}"
                            data-currency="INR"
                            data-order_id="{{ order_id }}"
                            data-buttontext="Pay with Razorpay"
                            data-name="Acme Corp"
                            data-description="Test transaction"
                            data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpWzPOB8s9WRX7JXZ96x1oPESu-eoN5YUFfDKcebTKFn7piPBS&usqp=CAU"
                            data-prefill.name="{{ name }}"
                            data-prefill.email="{{ email }}"
                            data-prefill.contact="{{ phone }}"
                            data-theme.color="#F37254"></script>
                            <input  type="hidden" custom="Hidden Element" name="hidden">
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- Sticky Navigation-->

          </div>
        </div>

    </div>



    <footer class="footer">
        <div class="container" id="Contact">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h2>About Us</h2>

                    <figcaption class="ftrAbout">
                        <p>Our highly accomplished Yoga Masters from India are committed to providing the best training in Yoga. True Yoga offers more than 200 classes covering 35 different types of Yoga, Hot Yoga, Dance and Pilates Matwork classes each week. </p>

                    </figcaption>
                    
                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <div class="ftrLinkBlock">
                        <h2>Main Links</h2>
                        <ul class="ftrLinks">
                            <li><a href="{% url 'home' %}" class="anim">Home</a></li>
                            <li><a href="{% url 'specialoffers' %}" class="anim">Offers</a></li>

                            <li><a href="{% url 'appoinment' %}">Appoinments</a></li>

                            <li><a href="{% url 'pricedetails' %}">Price Details & FAQ</a></li>
                            <li><a href="#Contact" class="padR0">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--ftrLinkBlock-->
                </div>
                <!--col-->

                <div class="col-md-2 col-sm-2">
                    <h2>Other</h2>
                    <ul class="ftrLinks">
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#myModal">Sign In</a></li>
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#sign_up">Join Us</a></li>
                    </ul>


                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <h2>Contacts</h2>
                    <div class="ftrContact">
                        <p><i class="fa fa-map-marker"></i> Cydez Yoga, Innerspace,Kakkanad, Cochin.</p>
                        <p><i class="fa fa-phone"></i>  9567823450</p>
                        <p><i class="fa fa-envelope-o"></i>cydezt@gmail.com</p>
                    </div>
                    <!--ftrContact-->
                </div>
                <!--col-->

            </div>
            <!--row-->

        </div>
        <!--container-->

        <div class="footer_copy">
            <div class="container">
                <div class="back_to_top">
                    <a href="#backToTop" class="top"><i class="glyphicon glyphicon-menu-up"></i></a>
                    <div class="copyright"> &copy; 2020 Cydez Yoga. All Rights Reserved. <a
                            href='http://www.kruxsoft.com/' target='_blank'></a></div>
                    <ul class="footerSocial">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!--back_to_top-->

            </div>
            <!--container-->
        </div>
        <!--footer_copy-->

    </footer>

</body>

</html>