<!DOCTYPE html>
{% load static %}
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{% static 'home/assets/images/fav.gif' %}" type="image/gif" />

    <title>Online Yoga classesand Training - Yoga at home with Kerala Yoga Training</title>


    <link href="{% static 'home/assets/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/datepicker.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="{% static 'home/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/owl.theme.css' %}" rel="stylesheet">

    <!--Begin Body Slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/BgSlider1.css' %}" />
    <!--End Body Slider ---->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    
    <!--begin for gallery popup-->
    <link rel="stylesheet" href="{% static 'home/assets/css/lightbox.css' %}" media="screen" />
    <link href="{% static 'home/assets/css/style.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/style-inner.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style type="text/css">
        .progDetails>p{
            margin:0px;
        }
        .progDetails>p:last-child>span::before{
            content: '\20B9';
        }
        .progDetails>p>span{
            font-weight: bold;
        }
        html{
          overflow: hidden !important;
        }
        .container>.cardon>form input{
          width: 100%;
        }
        .gender>p{
          margin:0px;
        }
        .gender>p:last-child>span::before{
            content: '\20B9';
        }
        .gender>p>span{
            font-weight: bold;
        }
    </style>
</head>

<body id="backToTop">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-5">
                    <div class="logo text-dark"><h3><b>CYDEZ YOGA</b></h3></div>
                </div>
                <!--col-->

                <div class="col-md-9 col-sm-10 col-xs-12">
                    <div class="row topContactRow">
                        <div class="topContact signArea">
                            <div class="logBox">
                                {% if not user.is_authenticated %}
                                <a class="joinUs" data-toggle="modal" data-target="#sign_up">Join Us</a>
                                <a  class="joinUs" data-toggle="modal" data-target="#myModal">Sign In</a>
                                {% endif %}
                            </div>
                            <!--logBox-->

                            <div class="languageRow">

                                <div class="topSocial">
                                    <ul class="topSocial">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                <!--topSocial-->


                            </div>
                            <!--languageRow-->

                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-map-marker"></i></span></figure>
                            <figcaption>
                                <h3>CYDEZ YOGA. </h3>
              <p>Innerspace,Kakkanad, Cochin.</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-phone"></i></span></figure>
                            <figcaption>
                                <h3>9567823450</h3>
                                <p>Call Us Today</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                    </div>
                    <!--topContactRow-->



                </div>
                <!--col-->
            </div>
            <!--row-->

        </div>
        <!--container-->
        <nav class="mainNav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--Begin Toop nav------------------------------------------------------ -->
                        <nav class="navbar navbar-default sticky">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <a class="menu_trigger" id="nav-icon1"><span></span><span></span><span></span></a>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="fixedLogo"><a href="{% url 'home' %}"><img src="{% static 'home/assets/images/header-logo.jpg' %}" /></a></div>
                                <ul class="nav navbar-nav">
                                    <li class="dropdown"><a>About Us </a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="#prgm">Programs<span><i class="fa fa-caret-down"></i></span> </a>
                                        <ul class="dropdown-menu">
                                            {% for i in all_programs %}
                                            <li class="programMenu"><a class="programMenu" href="{% url 'eachProgram' pid=i.id  %}">{{i.title}}</a></li>
                                            {% endfor %}
                                        </ul>

                                    </li>

                                    <li class="dropdown"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="dropdown"><a href="{% url 'appoinment' %}">Appoinments</a></li>
                                    <li class="dropdown"><a href="price-details-faq.html">Price Details</a></li>

                                    <li class="dropdown"><a href="{% url 'contact' %}" class="padR0">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End Toop nav------------------------------------------------------ -->
                    </div>
                    <!--col-->

                </div>
                <!--row-->
            </div>
            <!--container-->

            {%  if user.is_authenticated %}
            <div style="position: absolute;right:10px;top:0px;display: flex;justify-content: center;align-items: center;height: 100%;min-width:200px;">

                <div>Welcome, {{ user.get_full_name|title }}</div>
                &nbsp;
                <span style="font-family: initial;font-weight: 700;">|</span>
                &nbsp;
                <a href="{% url 'logoutuser' %}">Logout</a>
                
            </div>
            {% endif %}
            
        </nav>


    </header>



    <section class="categoryBlock innerPgmBlock">

        <div class="container">
            
            <div class="row">

                <div class="col-xs-12">
                    <h1 class="mainTitle">Best Yoga Programme</h1>
                    
                    <div class="classRow" style="display: flex;justify-content: space-between;align-items: center;">
                        <div class="progDetails">
                            <p>Number of Programs: <span>{{total_pgm}}</span></p>
                            <p>Total Program Price: <span>{{ cat.price }}</span></p>
                        </div>
                        <form action="{% url 'createorder'  %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="category" value="{{ cat.id}}">
                            <div>
                                <button class="btn btn-success" style="background-color: green;">
                                BUY THIS PROGRAMS
                                </button>
                            </div>
                        </form>
                   </div>
                
                    <div class="classRow">
                        {% for i in k %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                           
                            <a 
                                {% if user.status == 'Subscriber' %}
                                    href="{% url 'eachProgram' pid=i.id  %}"
                                {% else %}
                                    href="#"  data-toggle="modal" data-target="#buyProgram"
                                {% endif %}
                                >

                                <div class="classBox innerPgmBox">
                                    <figure><img src="{{ i.image.url }}" style="width: 250px; height: 150px;" />
                        

                                    </figure>
                                    <figcaption class="anim">
                                        <h3>{{i.title}}</h3>
                                        <span>Day{{i.day}}</span><br>
                                        <span> {{i.video_duration}} Minutes </span>
                                        
                                    </figcaption>
                                  
                                </div>
                               
                                <!--classBox-->
                            </a>
                            
                        </div>
                        {% endfor %}

                        <!--col-->
                       
                    </div>
                    <!--classRow--> 

                <!--col-->
                

            </div>
            
            <!--row-->
        </div>
        <!--container-->
    </section>
    

    <div style="width:100vw;height:100vh;position: fixed;top: 0px;left: 0px;background-color: rgba(0,0,0,.4);z-index: 999;display: flex;justify-content: center;align-items: center;">
  
      <div class="container mt-n10 modalappoin">
          <div class="row">
            <div class="col-lg-12">
              <!-- Default Bootstrap Form Controls-->
              <div id="default">
                <div class="card mb-4 cardone">

                  <div style="width: 100%;height: 40px;background-color: #087c38;text-align: center;color: #fff;font-family: 'RobotoBold';text-transform: uppercase;font-size: 14px;display: flex;justify-content: center;align-items: center;position: relative;">
                    <span>Order Details</span>
                    <a href="{% url 'Categories' catid=catId %}" style="color:rgba(0,0,0,0.5);position: absolute;right:10px;top:5px;font-size: 16px;">
                      <i class="fas fa-times"></i>
                    </a>
                  </div>

                  <div class="card-body">
                    <!-- Component Preview-->
                    <div class="sbp-preview">
                      <div class="sbp-preview-content">
                        <form action="{% url 'order_status' %}" method="POST" style="width: 100%;padding:20px 40px;">{% csrf_token %}
                            <div class="row">
                                <div class="gender">
                                  <p>
                                    Program Name :&nbsp;<span>{{ category_name }}</span>
                                  </p>
                                  <p>
                                     Price :&nbsp;<span>{{ product_price }}</span>
                                  </p>
                                </div>
                            </div>
                            
                            <div class="row">

                              <div >
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Please choose a date to start your program</label>
                                  <input class="form-control" name="date" id="exampleFormControlInput1" type="date" value="{{ start_date }}" required>
                                </div>
                              </div>
                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Choose a daily time</label>
                                  <input class="form-control" name="time" id="exampleFormControlInput1" type="time"  required>
                                </div>
                              </div>
                            </div>
                            <h3 class="text-center">Personal Details</h3>
                            <div class="row">

                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Name</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{name}}">
                                </div>
                              </div>
                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Phone Number</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{phone}}">
                                </div>
                              </div>
                              <div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Email</label>
                                  <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{email}}">
                                </div>
                              </div>
                              <div class="col-sm-12">
                               
                    
                              </div>
                            </div>
                            <input name="categoryid" type="hidden" value="{{catId}}">
                            <input name="price" type="hidden" value="{{product_price}}">
                            <script    src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="rzp_test_XgmvlQJpfvtHMI"
                            data-amount="{{ price }}"
                            data-currency="INR"
                            data-order_id="{{ order_id }}"
                            data-buttontext="Pay with Razorpay"
                            data-name="Acme Corp"
                            data-description="Test transaction"
                            data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpWzPOB8s9WRX7JXZ96x1oPESu-eoN5YUFfDKcebTKFn7piPBS&usqp=CAU"
                            data-prefill.name="{{ name }}"
                            data-prefill.email="{{ email }}"
                            data-prefill.contact="{{ phone }}"
                            data-theme.color="#F37254"></script>
                            <input  type="hidden" custom="Hidden Element" name="hidden">
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- Sticky Navigation-->

          </div>
        </div>

    </div>




    <footer class="footer">
        <div class="container" id="Contact">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h2>About Us</h2>

                    <figcaption class="ftrAbout">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>

                    </figcaption>
                    <!-- <button type="button" class="leafBtn"><i class="fa fa-download" aria-hidden="true"></i> Download
                        leaflet</button> -->
                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <div class="ftrLinkBlock">
                        <h2>Main Links</h2>
                        <ul class="ftrLinks">
                            <li><a href="{% url 'home' %}" class="anim">Home</a></li>
                            <li><a href="{% url 'specialoffers' %}" class="anim">Offers</a></li>

                            <li><a href="{% url 'appoinment' %}">Appoinments</a></li>

                            <li><a href="{% url 'pricedetails' %}">Price Details</a></li>
                            <li><a href="#Contact" class="padR0">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--ftrLinkBlock-->
                </div>
                <!--col-->

                <div class="col-md-2 col-sm-2">
                    <h2>Other</h2>
                    <ul class="ftrLinks">
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#myModal">Sign In</a></li>
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#sign_up">Join Us</a></li>
                    </ul>


                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <h2>Contacts</h2>
                    <div class="ftrContact">
                        <p><i class="fa fa-map-marker"></i>Cydez Yoga,  Innerspace,Kakkanad, Cochin.</p>
                        <p><i class="fa fa-phone"></i>  9567823450</p>
            <p><i class="fa fa-envelope-o"></i>cydezt@gmail.com</p>
                    </div>
                    <!--ftrContact-->
                </div>
                <!--col-->

            </div>
            <!--row-->

        </div>
        <!--container-->

        <div class="footer_copy">
            <div class="container">
                <div class="back_to_top">
                    <a href="#backToTop" class="top"><i class="glyphicon glyphicon-menu-up"></i></a>
                    <div class="copyright"> &copy; 2020 Cydez Yoga. All Rights Reserved. <a
                            href='http://www.kruxsoft.com/' target='_blank'></a></div>
                    <ul class="footerSocial">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!--back_to_top-->

            </div>
            <!--container-->
        </div>
        <!--footer_copy-->

    </footer>

</body>

</html>