{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Account registration form</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
    type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    html,
    body {
      min-height: 100%;
    }

    body,
    div,
    form,
    input,
    select,
    p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
    }

    h1 {
      margin: 0;
      font-weight: 400;
      color: white;
    }

    h3 {
      margin: 12px 0;
      color: #8ebf42;
    }

    .cardone {
      box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
      margin-top: -35px;
    }

    /* .main-block {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      } */
    form {
      width: 100%;
      padding: 20px;
    }

    fieldset {
      border: none;
      border-top: 1px solid #8ebf42;
    }

    .account-details,
    .personal-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .account-details>div,
    .personal-details>div>div {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .account-details>div,
    .personal-details>div,
    input,
    label {
      width: 100%;
    }

    label {
      padding: 0 5px;
      text-align: right;
      vertical-align: middle;
    }

    input {
      padding: 5px;
      vertical-align: middle;
    }

    .checkbox {
      margin-bottom: 10px;
    }

    select,
    .children,
    .gender,
    .bdate-block {
      width: calc(100% + 26px);
      padding: 5px 0;
    }

    select {
      background: transparent;
    }

    .gender input {
      width: auto;
    }

    .gender label {
      padding: 0 5px 0 0;
    }

    .bdate-block {
      display: flex;
      justify-content: space-between;
    }

    .birthdate select.day {
      width: 35px;
    }

    .birthdate select.mounth {
      width: calc(100% - 94px);
    }

    .birthdate input {
      width: 38px;
      vertical-align: unset;
    }

    .checkbox input,
    .children input {
      width: auto;
      margin: -2px 10px 0 0;
    }

    .checkbox a {
      color: #8ebf42;
    }

    .checkbox a:hover {
      color: #82b534;
    }

    button {
      width: 100%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px;
      border: none;
      background: #8ebf42;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
    }

    button:hover {
      background: #82b534;
    }

    @media (min-width: 568px) {

      .account-details>div,
      .personal-details>div {
        width: 50%;
      }

      label {
        text-align: left;
      }

    

      select,
      .children,
      .gender,
      .bdate-block {
        width: calc(60% + 16px);
      }
    }

    .gender {
      margin-bottom: 25px;
    }




    .bg-gradient-primary-to-secondary {
      background-color: #0061f2;
      background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
    }

    .page-header.page-header-dark {
      color: rgba(255, 255, 255, 0.5);
    }

    .page-header .page-header-content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .pt-4,
    .py-4 {
      padding-top: 1.5rem !important;
    }

    .align-items-center {
      align-items: center !important;
    }

    .justify-content-between {
      justify-content: space-between !important;
    }
  </style>
</head>

<body>
  <div class="main-block">
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
      <div class="container">
        <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto mt-4">
              <h1 class="page-header-title">
                <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-edit-3">
                    <path d="M12 20h9"></path>
                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                  </svg></div>
                Create Order
              </h1>
           
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container mt-n10">
      <div class="row">
        <div class="col-lg-12">
          <!-- Default Bootstrap Form Controls-->
          <div id="default">
            <div class="card mb-4 cardone">

              <div class="card-body">
                <!-- Component Preview-->
                <div class="sbp-preview">
                  <div class="sbp-preview-content">
                    <form action="{% url 'order_status' %}" method="POST">{% csrf_token %}

                      <div class="container">
                        <h2 class="text-center">Selected Product</h2>
                        <div class="gender">
                          Program Name : &nbsp;&nbsp; {{ category_name }} <br> Price : &nbsp;&nbsp;{{ product_price }}
                        </div>
                        <div class="form-group">
                          <div class="col-sm-2"></div>
                          
                          <div class="col-sm-4">
                            <input name="categoryid" type="hidden" style="width:350px ;" value="{{catId}}">
                          </div>
                        </div>
                        <div class="row">

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Date</label>
                              <input class="form-control" name="date" id="exampleFormControlInput1" type="date" required>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Time</label>
                              <input class="form-control" name="time" id="exampleFormControlInput1" type="time"  required>
                            </div>
                          </div>
                        </div>
                      </div>




                      <br>
                      <br>
                      <br>
                      <div class="container">
                        <h2 class="text-center">Personal Details</h2>
                        <br>
                      <br>
                        <div class="row">

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Name</label>
                              <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{name}}">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Phone Number</label>
                              <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{phone}}">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Email</label>
                              <input class="form-control" id="exampleFormControlInput1" type="text" name="name" placeholder="{{email}}">
                            </div>
                          </div>
                          <div class="col-sm-12">
                           
                
                          </div>
                        </div>
                      </div>
                      <script    src="https://checkout.razorpay.com/v1/checkout.js"
                      data-key="rzp_test_XgmvlQJpfvtHMI"
                      data-amount="{{ price }}"
                      data-currency="INR"
                      data-order_id="{{ order_id }}"
                      data-buttontext="Pay with Razorpay"
                      data-name="Acme Corp"
                      data-description="Test transaction"
                      data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpWzPOB8s9WRX7JXZ96x1oPESu-eoN5YUFfDKcebTKFn7piPBS&usqp=CAU"
                      data-prefill.name="{{ name }}"
                      data-prefill.email="{{ email }}"
                      data-prefill.contact="{{ phone }}"
                      data-theme.color="#F37254"></script>
                      <input  type="hidden" custom="Hidden Element" name="hidden">
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- Sticky Navigation-->

      </div>
    </div>

  </div>
</body>

</html>