<!DOCTYPE html>
{% load static %}
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{% static 'home/assets/images/fav.gif' %}" type="image/gif" />

    <title>Online Yoga classesand Training - Yoga at home with Kerala Yoga Training</title>


    <link href="{% static 'home/assets/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/datepicker.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="{% static 'home/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/owl.theme.css' %}" rel="stylesheet">

    <!--Begin Body Slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/BgSlider1.css' %}" />
    <!--End Body Slider ---->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    
    <!--begin for gallery popup-->
    <link rel="stylesheet" href="{% static 'home/assets/css/lightbox.css' %}" media="screen" />
    <link href="{% static 'home/assets/css/style.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/assets/css/style-inner.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'home/assets/js/jquery-1.11.1.js' %}" type="text/javascript"></script>
</head>

<body id="backToTop">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-5">
                    <div class="logo text-dark titikL">
                        <!-- <h3><b>TITIKSHAYOGA</b></h3> -->
                        <img src="{% static 'home/assets/images/logo-titik.jpg' %}"/>

                        
                    </div>
                </div>
                <!--col-->

                <div class="col-md-9 col-sm-10 col-xs-12">
                    <div class="row topContactRow">
                        <div class="topContact signArea">
                            <div class="logBox">
                                {% if not user.is_authenticated %}
                                <a class="joinUs" data-toggle="modal" data-target="#sign_up">Join Us</a>
                                <a  class="joinUs" data-toggle="modal" data-target="#myModal">Sign In</a>
                                {% endif %}
                            </div>
                            <!--logBox-->

                            <div class="languageRow">

                                <div class="topSocial">
                                    <ul class="topSocial">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                <!--topSocial-->


                            </div>
                            <!--languageRow-->

                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-map-marker"></i></span></figure>
                            <figcaption>
                                <h3>Titikshayoga. </h3>
							<p>Innerspace,Kakkanad, Cochin.</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                        <div class="topContact">
                            <figure><span><i class="fa fa-phone"></i></span></figure>
                            <figcaption>
                                <h3>9605615528</h3>
                                <p>Call Us Today</p>
                            </figcaption>
                        </div>
                        <!--topContact-->
                    </div>
                    <!--topContactRow-->



                </div>
                <!--col-->
            </div>
            <!--row-->

        </div>
        <!--container-->
        <nav class="mainNav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--Begin Toop nav------------------------------------------------------ -->
                        <nav class="navbar navbar-default sticky">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <a class="menu_trigger" id="nav-icon1"><span></span><span></span><span></span></a>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="fixedLogo"><a href="{% url 'home' %}"><img src="{% static 'home/assets/images/header-logo.jpg' %}" /></a></div>
                                <ul class="nav navbar-nav">
                                    <li class="dropdown"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="dropdown"><a href="{% url 'about_us' %}">About Us </a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="#prgm">Programs<span><i class="fa fa-caret-down"></i></span> </a>
                                        <ul class="dropdown-menu">
                                            {% for i in all_programs %}
                                            <li class="programMenu"><a class="programMenu" href="{% url 'eachProgram' pid=i.id  %}">{{i.title}}</a></li>
                                            {% endfor %}
                                        </ul>

                                    </li>

                                    <li class="dropdown">
                                        <a href="{% url 'appoinment' %}">Appointments</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'pricedetails' %}">Price Details</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'contact' %}" class="padR0">Contact Us</a>
                                    </li>
                                    <li class="dropdown mobm">
                                        <a href="{% url 'logoutuser' %}" class="padR0">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End Toop nav------------------------------------------------------ -->
                    </div>
                    <!--col-->

                </div>
                <!--row-->
            </div>
            <!--container-->

            {%  if user.is_authenticated %}
            <div style="position: absolute;right:10px;top:0px;display: flex;justify-content: center;align-items: center;height: 100%;min-width:200px;">

                <div>Welcome, {{ user.get_full_name|title }}</div>
                &nbsp;
                <span style="font-family: initial;font-weight: 700;">|</span>
                &nbsp;
                <a href="{% url 'logoutuser' %}">Logout</a>
                
            </div>
            {% endif %}
            
        </nav>


    </header>



    <section class="categoryBlock innerPgmBlock">

        <div class="container">
            <div class="row">
                
                <div class="col-xs-12">
                    <h1 class="mainTitle">About Us</h1>
                     
                    <!-- <figure class="aboutBanner"><img src="http://yogademo.kruxsoft.in/app/assets/images/about-bg.jpg"></figure>
 -->                        
                          <p>Yoga is the most favourable method to connect to the nature by balancing the mind-body connection. It is a type of exercise which performed through the balanced body and need to get control over diet, breathing, and physical postures. It is associated with the meditation of body and mind through the relaxation of body. It is very useful to control over mind and body as well as getting proper health of body and mind by reducing the stress and anxiety.</p>

<p>Yoga can be practiced by anyone as an exercise on daily basis to fulfill the need of very active and demanding life especially teenagers and adults. It helps in coping with the hard times of the life and pressure of school, friends, family and neighbours. Through yoga practice one can disappear his/her problems and stress given by others. It helps in easily accomplishing the connection between body, mind and nature.</p>
               
                    
                          <p>&nbsp;</p>
    
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                <h2>&nbsp;</h2>
    
                <p><strong>&nbsp;T</strong>he National Ayurvedic Medical Association represents the Ayurvedic profession in India. Our mission is to preserve, protect, promote and advance the consciousness-based philosophy, knowledge, science and practice of Ayurveda for the benefit of all beings.</p>
    
                <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
               
                            </div><!--col-->
    
            </div><!--row-->
        </div><!--container-->
    </section>


    <footer class="footer">
        <div class="container" id="Contact">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h2>About Us</h2>

                    <figcaption class="ftrAbout">
                        <p>Our highly accomplished Yoga Masters from India are committed to providing the best training in Yoga. True Yoga offers more than 200 classes covering 35 different types of Yoga, Hot Yoga, Dance and Pilates Matwork classes each week. </p>

                    </figcaption>
                   
                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <div class="ftrLinkBlock">
                        <h2>Main Links</h2>
                        <ul class="ftrLinks">
                            <li><a href="{% url 'home' %}" class="anim">Home</a></li>
                            <li><a href="{% url 'specialoffers' %}" class="anim">Offers</a></li>

                            <li><a href="{% url 'appoinment' %}">Appointments</a></li>

                            <li><a href="{% url 'pricedetails' %}">Price Details</a></li>
                            <li><a href="#Contact" class="padR0">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--ftrLinkBlock-->
                </div>
                <!--col-->

                <div class="col-md-2 col-sm-2">
                    <h2>Other</h2>
                    <ul class="ftrLinks">
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#myModal">Sign In</a></li>
                        <li><a href="#" class="anim" data-toggle="modal" data-target="#sign_up">Join Us</a></li>
                    </ul>


                </div>
                <!--col-->

                <div class="col-md-3 col-sm-3">
                    <h2>Contacts</h2>
                    <div class="ftrContact">
                        <p><i class="fa fa-map-marker"></i> Titikshayoga, Innerspace,Kakkanad, Cochin.</p>
                        <p><i class="fa fa-phone"></i> 9605615528</p>
                        <p><i class="fa fa-envelope-o"></i>kavya.bnys@gmail.com</p>
                    </div>
                    <!--ftrContact-->
                </div>
                <!--col-->

            </div>
            <!--row-->

        </div>
        <!--container-->

        <div class="footer_copy">
            <div class="container">
                <div class="back_to_top">
                    <a href="#backToTop" class="top"><i class="glyphicon glyphicon-menu-up"></i></a>
                    <div class="copyright"> &copy; 2020  Titikshayoga. All Rights Reserved. <a
                            href='http://www.kruxsoft.com/' target='_blank'></a></div>
                    <ul class="footerSocial">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!--back_to_top-->

            </div>
            <!--container-->
        </div>
        <!--footer_copy-->

    </footer>


    <!-- Modal -->
   <div id="myModal" class="modal fade" role="dialog">
						<form action="{% url 'userlogin' %}"   method="post" >
							{% csrf_token %}
					  <div class="modal-dialog signInBox">

						<!-- Modal content-->
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Sign In</h4>
						  </div>
						  <div class="modal-body">	
                                <div class="col-md-12 text-center" id="loadme"></div>
									<div class="form-group">
										<input type="tel" required="" pattern="[0-9]{10}" title="Phone number should be 10 digits" required="" name="phone" class="form-control signText" placeholder="Phone Number"/>
									</div>
									<div class="form-group">
										<input type="password" required="" name="password" class="form-control signText" placeholder="Password"/>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-default ">Sign In</button>
										 <span class="forgotLink signUpLink" data-toggle="modal" data-target="#sign_up" data-dismiss="modal"> Sign Up</span>
										 <span class="forgotLink" data-toggle="modal" data-target="#forgot_password" data-dismiss="modal"> Forgot password ?</span>                                    
									</div>
                                    
								
                                    <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri=http%3A%2F%2Fyogademo.kruxsoft.in%2Fapp%2Fuser-authentication.html&amp;client_id=607430590884-3v2e1vs9ksldtom6rl7jdhun50rlpshd.apps.googleusercontent.com&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&amp;access_type=offline&amp;approval_prompt=force"><img height="40" src="../../commondatastorage.googleapis.com/io-2013/presentations/808/images/sign-in-button.png" alt="Sign in Google+" /></a>							</div><!--signOuter-->
						  </div><!--modal-body-->
						  <div class="modal-footer">
						
						  </div>
						</div>
					</form>
					  </div>
				
					</div>

<!-- forgot password -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="forgot_password">
	
	<div class="modal-dialog signInBox">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close closeBtn1" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'reset_password' %}"  method="POST" >
			{% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input required="" name="phone" type="text" class="form-control signText" id="" placeholder="Enter phone number">
		  </div>
		  <div class="form-group">
            <label for="exampleInputEmail1">New Password</label>
            <input required="" name="password" type="password" class="form-control signText" id="" placeholder="Enter new password">
          </div>
		  <div class="form-group">
            <label for="exampleInputEmail1">Confirm password</label>
            <input required="" name="confirmpassword" type="password" class="form-control signText" id="" placeholder="Confirm password">
          </div>
          <button type="submit" class="btn btn-default signBtn">Submit</button>
        </form>
      </div>
	   <div class="modal-footer">
			<div id="loadmeforgetpass"></div>			
		</div>
    </div>
  </div>

</div>
<!--begin sign Up-->					
	<div id="sign_up" class="modal fade" role="dialog">
		<form action="{% url 'userRegister' %}"   method="post" >
			{% csrf_token %}
					  <div class="modal-dialog signInBox signUpBox">

						<!-- Modal content-->
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Sign Up</h4>
						  </div>
						  <div class="modal-body">
							<div class="signOuter">
								
									<div class="col-md-12 text-center" id="loadme"></div>
									
									<span class="text-danger">* All fields are mandatory.</span>
						
									
                                    <div class="row textRow">
										<div class="col-md-6 textCol">
										
											<div class="form-group">
												<input required="" type="text" class="form-control signText" name="first_name" placeholder="First Name"/>
											</div>
										</div><!--col-->
										<div class="col-md-6 textCol">
											<div class="form-group">
												<input required="" type="text" class="form-control signText" name="last_name" placeholder="Last Name"/>
											</div>
										</div><!--col-->
									</div><!--textRow-->
									<div class="form-group">
										<input type="text" required="" class="form-control signText" placeholder="Address - 1" name="address"/>
									</div>
							
									<div class="form-group">
										<input type="tel" pattern="[0-9]{10}" title="Phone number must be 10 digits" class="form-control signText" placeholder="Phone Number" required="" name="phone"/>
									</div>
									<div class="form-group">
										<input type="password" required="" class="form-control signText" placeholder="Password" name="password"/>
									</div>
									
									<div class="row textRow">
										<div class="col-md-6 textCol">
											<div class="form-group">
												<input name="city" required="" type="text" class="form-control signText" placeholder="City"/>
											</div>
										</div><!--col-->
                                        <div class="col-md-6 textCol">
											<div class="form-group">
												<input type="number" required="" name="postcode" class="form-control signText" pattern=".{6}" title="Post Code Minimum 6 characters" maxlength="6" placeholder="Post Code"/>
											</div>
										</div><!--col-->
									</div><!--textRow-->
									
									<div class="row textRow">
										<div class="col-md-12 textCol">
											<div class="form-group">
												<input type="email" required="" class="form-control signText" placeholder="Email" name="email"/>
											</div>
										</div><!--col-->
                                    </div>
                                    <div class="form-group">
										<button type="submit" class="btn btn-default signBtn">Sign Up</button>
										 <span class="forgotLink signUpLink" data-toggle="modal" data-target="#myModal" data-dismiss="modal"> Sign In</span>
										  
										 
									</div><!--textRow-->
							</div></form><!--signOuter-->
						  </div><!--modal-body-->
						  <div class="modal-footer">
						
						  </div>
						</div>

					  </div>
		</div>
<!--end sign up -->






    <script src="{% static 'home/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#signupform').submit(function (e) {
                e.preventDefault();
                $('#loadme').html('<img width="50" src="http://yogademo.kruxsoft.in/app/assets/images/ring-alt_1.gif" alt="loading..." />');
                if ($('#password').val() == $('#repassword').val()) {
                    $.ajax({
                        url: "http://yogademo.kruxsoft.in/app/users/savedata.html",
                        dataType: "json",
                        method: "POST",
                        data: $(this).serialize(),
                        delay: 250,
                        success: function (res) {
                            if (res['status'] == 1) {
                                $('#loadme').html('<div class="alert12 alert-success text-left">Registered successfully. Redirecting...</div>');
                                location.reload();
                            }
                            else {
                                $('#loadme').html('<div class="alert12 alert-warning text-left">email Id already register.</div>');
                            }

                        },
                        error: function (data) {
                            $('#loadme').html('<div class="alert12 alert-danger text-left">Server error occured....</div>');
                        }
                    });
                }
                else {
                    $('#loadme').html('<div class="alert12 alert-danger text-left">Passwords are not matching.</div>');
                }

            });
            $('#forgotpassword').submit(function (e) {
                e.preventDefault();
                $('#loadme').html('<img width="50" src="http://yogademo.kruxsoft.in/app/assets/images/ring-alt_1.gif" alt="loading..." />');
                if ($('#password').val() == $('#repassword').val()) {
                    $.ajax({
                        url: "http://yogademo.kruxsoft.in/app/users/forgotpassword.html",
                        dataType: "json",
                        method: "POST",
                        data: $(this).serialize(),
                        delay: 250,
                        success: function (res) {
                            if (res['status'] == 1) {
                                $('#loadmeforgetpass').html('<div class="alert12 alert-success text-left">' + res['message'] + '</div>');
                                setTimeout(function () {
                                    window.location.href = "index.html";
                                }, 1000);

                            }
                            else {
                                $('#loadmeforgetpass').html('<div class="alert12 alert-warning text-left">' + res['message'] + '</div>');
                            }

                        },
                        error: function (data) {
                            $('#loadmeforgetpass').html('<div class="alert12 alert-danger text-left">Server error occured....</div>');
                        }
                    });
                }
                else {
                    $('#loadme').html('<div class="alert12 alert-danger text-left">Passwords are not matching.</div>');
                }

            });

            $('#signin').submit(function (e) {
                e.preventDefault();
                $('#loadme').html('<img width="50" src="http://yogademo.kruxsoft.in/app/assets/images/ring-alt_1.gif" alt="loading..." />');
                if ($('#password').val() == $('#repassword').val()) {
                    $.ajax({
                        url: "http://yogademo.kruxsoft.in/app/users/processauthentication.html",
                        dataType: "json",
                        method: "POST",
                        data: $(this).serialize(),
                        delay: 250,
                        success: function (res) {
                            if (res['status'] == 1) {
                                $('#loadme').html('<div class="alert12 alert-success text-left">Logged in successfully. Redirecting...</div>');
                                location.reload();
                            }
                            else {
                                $('#loadme').html('<div class="alert12 alert-warning text-left">Invalid Login details provided.</div>');
                            }
                        },
                        error: function (data) {
                            $('#loadme').html('<div class="alert12 alert-danger text-left">Server error occured....</div>');
                        }
                    });
                }
                else {
                    $('#loadme').html('<div class="alert12 alert-danger text-left">Passwords are not matching.</div>');
                }

            });
        });
    </script>
    <!--begin sticky headr -->
    <script>
        var WindowWidth = $(window).width();
        if (WindowWidth > 767) {

            $(window).scroll(function () {
                var sticky = $('.sticky'),
                    scroll = $(window).scrollTop();
                if (scroll >= 100) sticky.addClass('fixed', { duration: 500 });
                else sticky.removeClass('fixed', { duration: 500 });
            });

        }

        var WindowWidth = $(window).width();
        if (WindowWidth < 767) {

            $(".dropdown").click(function () {

                $(this).toggleClass("active");

            })

        }


    </script>
    <!--end sticky header-->

    <script src="{% static 'home/assets/js/wow.js' %}"></script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                callback: function (box) {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );
        wow.init();
        document.getElementById('moar').onclick = function () {
            var section = document.createElement('section');
            section.className = 'section--purple wow fadeInDown';
            this.parentNode.insertBefore(section, this);
        };
    </script>
    <script>

        $('.top').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 800);
            return false;
        });
    </script>

    <!--begin mobie menu icon transition effect-->
    <script>
        $(".navbar-toggle").click(function () {
            $(this).toggleClass("fixMenu");
            $(this).find(".menu_trigger").toggleClass("active");
            $("body").toggleClass("menuBg");
        });
    </script>
    <!--end mobie menu icon transition effect-->

    <!--End isot6op filter -->
    <script>
        $(".languageBox").click(function () {
            $(".languageList").toggleClass("active");
        });
    </script>
    <script>
        $(".faqTitle").click(function () {
            //$(".faqContent").slideUp();
            $(this).closest(".faqList").find(".faqContent").slideToggle();
            $(this).closest(".faqList").find(".fa-caret-down").toggleClass("fa-caret-up");

        });

    </script>
    <script type="text/javascript" src="{% static 'home/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/assets/appjs/home.js' %}" type="text/javascript"></script>
</body>
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'sg2plcpnl0189' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='../../img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>