{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    table,th,td{
        border:1px solid black;
        border-collapse: collapse;
        padding-bottom: 150px;
    }
    th,td{
        padding:12px;
    }
    h3{
        padding:10px;
    }
            </style>
<h3>My Account</h3>
<table style="width: 50%; ">
    <tr>
    <th>User Name</th>
    <td>{{user.username}}</td>
    </tr>

    <tr>
    <th>Email</th>
    <td>{{user.email}}</td>
    </tr>

    <tr>
    <th>Phone Number</th>
    <td>{{user.phone}}</td>
    </tr>

    <tr>
    <th>Address</th>
    <td>{{user.address}}</td>
    </tr>

    <tr>
    <th>DOB</th>
    <td>{{user.DOB}}</td>
    </tr>

    <tr>
    <th>User Role</th>
    <td>{{user.role}}</td>
    </tr>

</table>
{% endblock %}
