{% extends 'base.html' %}
{% load static %}
{% block content %}



<main class="mt-100 mb-100">
    <div class="container">
     <h1>ADD</h1>
    </div>
   
 
     <div class="container mt-100 mb-100">
        

         <div class="row">
             <div class="col-md-12">
                 <div class="card">
                   
                     <div class="card-body">
                         <h5>ADD CATEGORY</h5>
                     <form method="POST" action="{% url 'add_category' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="form-group">
                             <label for="exampleFormControlInput1">Category</label>
                             <input class="form-control" id="exampleFormControlInput1" type="text" name='category' required>
                         </div>
                         <div class="form-group">
                            <label for="exampleFormControlInput1">Number of Days</label>
                            <input class="form-control" id="exampleFormControlInput1" type="number" name='numberofdays' required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Video Validity</label>
                            <input class="form-control" id="exampleFormControlInput1" type="number" name='validity' required>
                        </div>
                         <div class="form-group">
                            <label for="exampleFormControlInput1">Description</label>
                                            
                                <textarea  name="content" ></textarea> 
                            </div>
                        
                         <div class="form-group">
                            <label for="exampleFormControlInput1">Meta Keywords</label>
                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='metakeywords' required>
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Paid</label>
                            <input  id="exampleFormControlInput1" type="checkbox"  name='paid' required>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1"> PRICE</label>
                            <input class="form-control" id="exampleFormControlInput1" type="number" name='price' required="True" >
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Image</label>
                            <input class="form-control" id="exampleFormControlInput1" type="file"  name='image' required>
                        </div> 
                         <button class="btn btn-primary" type="submit">Submit</button>
                         <div class="form-group">
                            
                            

                         </div>

                     </div>
                 </div>
             </div>
         </form>
             
     
         </div>
         </div>
         </div>
     </div>
 </main>

 

{% endblock %}