{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Dashboard</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" crossorigin="anonymous" />
        <!-- <link href="{% static 'https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" crossorigin="anonymous" /> -->
        <!-- <link href="{% static 'https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css' %}" rel="stylesheet" crossorigin="anonymous" /> -->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
            <a  href="{% url 'dashboard' %}" ></a>
            

            
            
            
            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-bell fa-fw" aria-hidden="true" ></i><span class="badge badge-danger badge-counter">{{ ordered }}</span></a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  href="#">
                            <div class="dropdown-item-icon"><i data-feather="package"></i></div>
                            Orders
                            
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="https://www.freepngimg.com/thumb/youtube/62644-profile-account-google-icons-computer-user-iconfinder-thumb.png"/></a><i class="fa fa-angle-down" aria-hidden="true"></i>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <!-- <img class="dropdown-user-img" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div> -->
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account' %}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Logout
                        </a>
                    </div>
                    <li class="nav-item dropdown no-caret mr-3 d-none d-md-inline">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-none d-md-inline font-weight-500"><h3>hello {{request.user.role}}</h3></div><br>
                        </a><br> 
                       
                    </li>
            </ul>
                </li>
            </ul> 
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                               Manage Programs
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseComponents" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link"  href="{% url 'list_program' %}" >All Programs </a>
                                    <a class="nav-link"  href="{% url 'add_program' %}" >Add Programs </a>
                                    <a class="nav-link"  href="{% url 'list_slides' %}" >Banners </a>
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Master Settings
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDashboards" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'list_category' %}">
                                        Category
                                    </a>
                                    <a class="nav-link" href="{% url 'list_level' %}">
                                   Level
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Subscriptions
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUtilities" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'orders' %}">View All Subscriptions</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Add Department
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUtilities" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'addDepartment' %}">Add Department</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="#collapseTwo" >
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                   Add Doctors
                                     <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div id="collapseTwo" class="collapse"  >
                                <nav class="sidenav-menu-nested nav">
                                     <a class="nav-link" href="{% url 'addDoctor' %}">
                                          Add Doctor
                             </a>
                             
                            </nav>
                            </div>
                           <!--  <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseUtili" aria-expanded="false" aria-controls="collapseUtili">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Reports
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUtili" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">Sales</a>
                                    <a class="nav-link" href="#">Product</a>
                                    <a class="nav-link" href="#">Customer</a>
            
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Notifications
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            
                            <div class="collapse" id="collapseLayouts" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="#" >Push Notifications</a>
                                    <a class="nav-link" href="#">SMS Notifications</a>
                                    <a class="nav-link" href="#">Email Notifications</a>

                                </nav>
                            </div> -->
                            
                        </div>
                    </div>
                   
                </nav>
            </div>
              

            
            <div id="layoutSidenav_content">
                {% block content %}
                {% endblock %}
               
            </div>
        </div>
        <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
        <script>
             CKEDITOR.replace('content');
        </script>
                           
        <!-- <script src="{% static 'https://code.jquery.com/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js' %}" crossorigin="anonymous"></script> -->
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>

        <script src="{% static 'js/sb-customizer.js' %}"></script>
        
    </body>
</html>
