{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>CATEGORY</h1>
                   </div>
                   
                    <div class="container mt-100 mb-100">
                       
     

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE CATEGORY</h5>
                                        {% for i in i %}

                                    <form method="POST" enctype="multipart/form-data" action="#" >{% csrf_token %}
                                        
                             
                                        
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1" >Category</label>
                                            <input class="form-control" id="exampleFormControlInput1"type="text"  name='category' value="{{i.category}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1" >Number of Days</label>
                                            <input class="form-control" id="exampleFormControlInput1"type="number"  name='numberofdays' value="{{i.numberofclass}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Video Validity</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='validity' value="{{i.validity}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Description</label>
                                            <textarea  name="content" >{{i.description}} </textarea> 
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Meta Keywords</label>
                                            <input class="form-control" id="exampleFormControlInput1"type="text"  name='metakeywords' value="{{i.metakeywords}}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Paid</label>
                                            <input  id="exampleFormControlInput1" type="checkbox"  name='paid' {% if i.paid == True %} checked {%endif%}  value="{{i.paid}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Price</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='price' required="True" value="{{i.price}}" required>
                                        </div>
                                         <label for="exampleFormControlInput1">Image</label>
                                         <div class="form-group">
                                           
                                            <img src = "{{ i.image.url }}" alt="" style="max-width: 150px; max-height: 150px; width: 50%;">
                                            <input class="form-control" id="exampleFormControlInput1" type="file"  name='image' value="{{i.image}}">
                                        </div>
                                        <button class="btn btn-primary" type="submit">UPDATE</button>
                                        <div class="form-group">
                                           
                                           

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                          {% endfor %}  
                      
                        </div>
                        </div>
                        </div>
                    </div>
                </main>
               
 {% endblock %}