{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
                    <section class="mb-100 mt-100">
                        <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card bg2 text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-lg font-weight-bold">Registered Users</div>
                                            </div>
                                             {{ users }}   

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg3 text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-lg font-weight-bold">Subcribers</div>
                                            </div>
                                             {{ subscribers }}   

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="card bg1 text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-lg font-weight-bold">Appointments</div>
                                            </div>
                                            {{total_appoinment}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                        </div>
                    </section>





                
                    <div class="container mt-n10 py-5">
                       
                    
                      
                        <div class="card mb-4 ">
                            <div class="card-header">Appointments</div>
                            <div class="card-body">
                                <div class="datatable">
                                    <div class="row">
                                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'appoinments' %}">
                                            {% csrf_token %}
                                <!-- <div class="col-sm-8"> -->
                                    <div class="form-group">
                                        <!-- &nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="order number" type="text" placeholder="Sales Order No"> -->
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="start date" type="date" placeholder="Start Invoice date">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="end date" type="date" placeholder="End Invoice date">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">search</button>

                                    </div>
                                        </form>
                                    </div>
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th> ID</th>
                                                <th>Appoinment Date</th>
                                                <th>Doctor</th>
                                                <th>Department</th>
                                                <th>Name</th>
                                                <th>Address</th>  
                                                <th>Phone Number</th>
                                                <th>Amount Paid</th>
                                                <th>Status</th>                
                                                <th>Show</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>


                                           {% for i in appoinments %}
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td>{{i.appoinmentdate}}</td>
                                                <td>{{i.doctor}}</td>
                                                <td>{{i.department}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.address}}</td>
                                                <td>{{i.phone}}</td>
                                                <td>{{i.amount}}</td>
                                                
                                                <td>
                                                    {% if i.status != 'Accepted' and i.status != 'Cancelled' %}
                                                    <div class="col-sm-8">
                                                    <a href="{% url 'accept' %}?action=1&id={{ i.id }}">
                                                        <!-- <button class="badge badge-success badge-pill">Accept</button> -->
                                                    <button style="background-color:mediumseagreen ;" >contact</button>
                                                    </a>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <br>
                                                    <a href="{% url 'accept' %}?action=0&id={{ i.id }}">
                                                        
                                                    <button style="background-color:red ;">Cancel</button>
                                                    </a>
                                                    </div>
                                                    {% elif i.status == 'Accepted' %}

                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green;">Contacted</span>

                                                    {% elif i.status == 'Cancelled' %}

                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:tomato;">Cancelled</span>

                                                    {% endif %}        
                                                </td>
                                                <td>
                                                    <a href="show_details/{{i.id}}" target="_blank" rel="noopener">Show Details</a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                          
                                            <div class="">
                                                <span class="">
                                                    {% if appoinments.has_previous %}
                                                    <a href="?page={{appoinments.previous_page_number}}">Previous</a>
                                                    {% endif %}
                                                    <span class="">
                                                        Page {{appoinments.number}} of {{appoinments.paginator.num_pages}}.
                                                    </span>
                                                    {% if appoinments.has_next %}
                                                    <a href="?page={{appoinments.next_page_number}}">>></a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!-- <section class="mb-10 mt-100">
                            <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card bg1 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div class="text-lg font-weight-bold">Total Orders</div>
                                                </div>
                                               {{ total_orders }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg2 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div class="text-lg font-weight-bold">Sales Value</div>
                                                </div>
                                                {{sum_sales_value}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg3 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div class="text-lg font-weight-bold">Customer</div>
                                                </div>
                                                {{vendor_per_customer}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </section>
     -->

                        <!-- <div class="row">
                            
                            <div class="col-xl-12 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Sales Report
                                        
                                    </div>
                                    <div class="card-body">
                                        <center><h3>SALES REPORT, 2020</h3></center>
                                        <div class="chart-bar"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                                        <center>
                                            <ul class="barcha">
                                                <li>
                                                    <ul>
                                                        <li><div class="box1"></div></li>
                                                        <li>Pending</li>
                                                    </ul></li>
                                                <li> <ul>
                                                    <li><div class="box2"></div></li>
                                                    <li>Accept</li>
                                                </ul></li>
                                                <li> <ul>
                                                    <li><div class="box3"></div></li>
                                                    <li>Delivered</li>
                                                </ul></li>
                                            </ul>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <script> function myFunction(buttonid){
                            document.getElementById(buttonid).innerHTML="Accepted";
                            }
                            cancelFunction(cancelid)
                            {
                            document.getElementById(cancelid).innerHTML="Cancelled";}
                        </script> -->
                    </div>
                </main>
 {% endblock %}