{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>ALL PROGRAMS</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                        <button><a href="{% url 'add_program' %}"  ><i class="fas fa-align-justify" type='submit'></i>Add New</a></button>
                        
                        <button> <a href="{% url 'list_program' %}"  ><i class="ti-plus" type='submit'></i> All Programs</a></button>
                       
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchProgram' %}">
                            {% csrf_token %}
                                
                                    <div class="form-group"  style="padding-left: 50rem;">
                                        <input class="form-control" id="search" name="search" type="text" placeholder="Search by program Title"> <button class="btn btn-primary" type="submit">search</button>
                                    </div>
                                
                                
                              
                                <!-- <div class="col-sm-4">
                                    <a href= "{% url 'list_program' %}"><button class="btn btn-primary" type="submit">Reset</button></a>

                                </div> -->
                            </form>

                        <!-- <div class="row"> -->
                            
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-6">
                                    
                                    <div class="card-body">
                                        <h5>PROGRAM LIST</h5>
                                        <div class="datatable">
                                            <div class="row">
                                                
                                                <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search_vendor">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by order">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">search</button>

                                        </div>
                                    </form> -->
                                            </div>
                                            <br>
                                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Category</th>
                                                        <th>Image</th>
                                                       
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        
                                                   
                                               
                                                    </tr>

                                                
                                                    {% for i in showprogram %}
                                                
                                                    <tr>
                                                        <td>{{i.title}}</td>
                                                     
                                                        <td>{{i.category}}</td>
                                                        <td><img src = "{{ i.image.url }}" alt="" style="max-width: 150px; max-height: 150px; width: 50%;"></td>
                                                        

                                                        <td>
                                                            <button><a href="{% url 'editProgram' userid=i.id %}"><i class="fa fa-edit" type="submit"></i></a></button>
                                                        </td>
                                                 
                                                        <td><a href="{% url 'deleteprogram' userid=i.id %}"><i class="fa fa-trash" type='submit'></i></a></td>
                                                   
                                                    </tr>
                                                     
                                                    {% endfor %}
                                                    <div class="">
                                                        <span class="">
                                                            {% if showprogram.has_previous %}
                                                            <a href="?page={{showprogram.previous_page_number}}">Previous</a>
                                                            {% endif %}
                                                            <span class="">
                                                                Page {{showprogram.number}} of {{showprogram.paginator.num_pages}}.
                                                            </span>
                                                            {% if showprogram.has_next %}
                                                            <a href="?page={{showprogram.next_page_number}}">>></a>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </main>
               
{% endblock %}