{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>ALL SLIDES</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                        <button><a href="{% url 'add_slides' %}"  ><i class="fas fa-align-justify" type='submit'></i>Add New</a></button>
                        
                        <button> <a href="{% url 'list_slides' %}"  ><i class="ti-plus" type='submit'></i> All Slides</a></button>
                    
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchSlide' %}">
                            {% csrf_token %}
                                
                                    <div class="form-group"  style="padding-left: 50rem;">
                                        <input class="form-control" id="search" name="search" type="text" placeholder="Search by Title"> <button class="btn btn-primary" type="submit">search</button>
                                    </div>
                                
                                
                              
                                <!-- <div class="col-sm-4">
                                    <a href= "{% url 'list_program' %}"><button class="btn btn-primary" type="submit">Reset</button></a>

                                </div> -->
                            </form>

                        <!-- <div class="row"> -->
                            
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-4">
                                    
                                    <div class="card-body">
                                        <h5> LIST SLIDES</h5>
                                        <div class="datatable">
                                            <div class="row">
                                                
                                                <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search_vendor">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by order">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">search</button>

                                        </div>
                                    </form> -->
                                            </div>
                                            <br>
                                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>SubTitles</th>
                                                        <th>Description</th>
                                                        
                                                       
                                                       
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        
                                                   
                                               
                                                    </tr>

                                                
                                                    {% for i in showslides %}
                                                
                                                    <tr>
                                                        <td>{{i.title}}</td>
                                                        <td>{{i.title}}</td>
                                                        <td>{{i.description}}</td>
                                                       
                                                       

                                                        <td>
                                                            <button><a href="{% url 'editSlides' userid=i.id %}"><i class="fa fa-edit" type="submit"></i></a></button>
                                                        </td>
                                                 
                                                        <td><a href="{% url 'deleteSlides' userid=i.id %}"><i class="fa fa-trash" type='submit'></i></a></td>
                                                   
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                    <div class="">
                                                        <span class="">
                                                            {% if showslides.has_previous %}
                                                            <a href="?page={{showprogram.previous_page_number}}">Previous</a>
                                                            {% endif %}
                                                            <span class="">
                                                                Page {{showslides.number}} of {{showslides.paginator.num_pages}}.
                                                            </span>
                                                            {% if showslides.has_next %}
                                                            <a href="?page={{showslides.next_page_number}}">>></a>
                                                            {% endif %}
                                                        </span>
                                                    </div>  
                                                   
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </main>
               
{% endblock %}