{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>ALL CATEGORY</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                        <button><a href="{% url 'add_category' %}"  ><i class="fas fa-align-justify" type='submit'></i>Add New</a></button>
                        
                        <button> <a href="{% url 'list_category' %}"  ><i class="ti-plus" type='submit'></i> All Category</a></button>
                    
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchCategory' %}">
                            
                            {% csrf_token %}
                            <div class="form-group"  style="padding-left: 50rem;">
                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by Category">
                                <button class="btn btn-primary" type="submit">search</button>
                            </div>
                                
                                
                              
                                <!-- <div class="col-sm-4">
                                    <a href= "{% url 'list_program' %}"><button class="btn btn-primary" type="submit">Reset</button></a>

                                </div> -->
                            </form>

                        <!-- <div class="row"> -->
                            
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5> LIST CATEGORY</h5>
                                        <p>{{ showcategory.0.price }}</p>
                                        <div class="datatable">
                                            <div class="row">
                                                
                                                <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search_vendor">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by order">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">search</button>

                                        </div>
                                    </form> -->
                                            </div>
                                            <br>
                                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Category Name</th>
                                                        <th>Description</th>
                                                        <th>MetaKeywords</th>
                                                        <th>Price</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        
                                                   
                                               
                                                    </tr>

                                                
                                                    {% for i in showcategory %}
                                                    
                                                    <tr>
                                                        <td>{{i.category}}</td>
                                                        <td id="{{i.id}}" >
                                                            {{i.get_description }}
                                                        <td>{{i.metakeywords}}</td>
                                                        <td>{{i.price}}</td>
                                                       

                                                        <td>
                                                            <button><a href="{% url 'editCategory' userid=i.id %}"><i class="fa fa-edit" type="submit"></i></a></button>
                                                        </td>
                                                 
                                                        <td><a href="{% url 'deleteCategory' userid=i.id %}"><i class="fa fa-trash" type='submit'></i></a></td>
                                                   
                                                    </tr>
                                                     <!-- <script type="text/javascript">
                                                        document.getElementById('{{i.id}}').innerHTML = "{{i.get_description.content }}"
                                                    </script> -->
                                                    {% endfor %}
                                                    <div class="">
                                                        <span class="">
                                                            {% if showcategory.has_previous %}
                                                            <a href="?page={{showcategory.previous_page_number}}">Previous</a>
                                                            {% endif %}
                                                            <span class="">
                                                                Page {{showcategory.number}} of {{showcategory.paginator.num_pages}}.
                                                            </span>
                                                            {% if showcategory.has_next %}
                                                            <a href="?page={{showcategory.next_page_number}}">>></a>
                                                            {% endif %}
                                                        </span>
                                                    </div>

                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </main>
               
{% endblock %}