{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>ALL LEVEL</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                        <button><a href="{% url 'add_level' %}"  ><i class="fas fa-align-justify" type='submit'></i>Add New</a></button>
                        
                        <button> <a href="{% url 'list_level' %}"  ><i class="ti-plus" type='submit'></i> All Levels</a></button>
                    
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchLevel' %}">
                            {% csrf_token %}
                                
                                    <div class="form-group"  style="padding-left: 50rem;">
                                        <input class="form-control" id="search" name="search" type="text" placeholder="Search by Level"> <button class="btn btn-primary" type="submit">search</button>
                                    </div>
                                
                                
                              
                                <!-- <div class="col-sm-4">
                                    <a href= "{% url 'list_program' %}"><button class="btn btn-primary" type="submit">Reset</button></a>

                                </div> -->
                            </form>

                        <!-- <div class="row"> -->
                            
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5> LIST LEVELS</h5>
                                        <div class="datatable">
                                            <div class="row">
                                                
                                                <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search_vendor">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by order">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">search</button>

                                        </div>
                                    </form> -->
                                            </div>
                                            <br>
                                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Level Name</th>
                                                        
                                                       
                                                       
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        
                                                   
                                               
                                                    </tr>

                                                
                                                    {% for i in showlevel %}
                                                
                                                    <tr>
                                                        <td>{{i.id}}</td>
                                                        <td>{{i.level}}</td>
                                                       

                                                        <td>
                                                            <button><a href="{% url 'editLevel' userid=i.id %}"><i class="fa fa-edit" type="submit"></i></a></button>
                                                        </td>
                                                 
                                                        <td><a href="{% url 'deleteLevel' userid=i.id %}"><i class="fa fa-trash" type='submit'></i></a></td>
                                                   
                                                    </tr>
                                                    {% endfor %}
                                                    <div class="">
                                                        <span class="">
                                                            {% if i.has_previous %}
                                                            <a href="?page={{showlevel.previous_page_number}}">Previous</a>
                                                            {% endif %}
                                                            <span class="">
                                                                Page {{showlevel.number}} of {{showlevel.paginator.num_pages}}.
                                                            </span>
                                                            {% if i.has_next %}
                                                            <a href="?page={{showlevel.next_page_number}}">Next</a>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                   
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </main>
               
{% endblock %}