{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="mt-100 mb-100">
    <div class="container">
     <h1>ADD</h1>
     <button> <a href="{% url 'list_program' %}"  ><i class="fas fa-align-justify" type='submit'></i> All Programs</a></button>

    </div>
    
 
     <div class="container mt-100 mb-100">

         <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     
                     <div class="card-body">
                         <h5>ADD PROGRAMS</h5>
                     <form method="POST" action="{% url 'add_program' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="form-group">
                             <label for="exampleFormControlInput1">TITLE</label>
                             <input class="form-control" id="exampleFormControlInput1" type="text" name='title' required>
                         </div>
                         
                         <div class="form-group">
                             <label for="exampleFormControlInput1">Day</label>
                             <input class="form-control" id="exampleFormControlInput1" type="number"  name='day' required>
                         </div>
                         <div class="form-group">
                            <label for="exampleFormControlInput1">Video Duration</label>
                            <input class="form-control" id="exampleFormControlInput1" type="number" placeholder="enter video duration in minutes"  name='video_duration' required>
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleFormControlInput1">Number Of Classes</label>
                            <input class="form-control" id="exampleFormControlInput1" type="number"  name='numberofdays'>
                        </div> -->
                         <!-- <div class="form-group">
                             <label for="exampleFormControlInput1">STYLE</label>
                             <input class="form-control" id="exampleFormControlInput1" type="text"  name='style'>
                         </div> -->
                         <div class="form-group">
                             <label for="exampleFormControlInput1">CATEGORY</label>
                             <select  class="form-control" id="exampleFormControlInput1" name="category" required >
                                <option value="" selected="">Select</option>
                                 {% for i in c %}
                                 
                                <option value="{{i.category}}">{{i.category}}</option>
                                
                                {% endfor %}
                               </select>
                         </div>
                         <!-- <div class="form-group">
                            <label for="exampleFormControlInput1">Level</label>
                            <select  class="form-control" id="exampleFormControlInput1" name="level" >
                                <option value="" selected="">Select</option>
                                 {% for i in l %}
                                 
                                <option value="{{i.level}}">{{i.level}}</option>
                                
                                {% endfor %}
                               </select>
                        </div> -->
                         <div class="form-group">
                             <label for="exampleFormControlInput1">INTRODUCTION</label>
                             
                             <!-- <textarea id="editor1" name="introduction" class="form-control" style="visibility: hidden; display: none;"></textarea>
                             <iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" style="width: 100%; height: 100%;" title="Rich Text Editor, editor1" aria-describedby="cke_41" tabindex="0" allowtransparency="true"></iframe> -->
                             <textarea name="content" value="{{i.description}}" ></textarea> 
                         </div>
                        
                         <div class="form-group">
                             <label for="exampleFormControlInput1">Video Urls</label>
                             <input class="form-control" id="exampleFormControlInput1" type="text"  name='videourl' required>
                         </div>
                       
                         <div class="form-group">
                             <label for="exampleFormControlInput1">Image</label>
                             <input class="form-control" id="exampleFormControlInput1" type="file"  name='image' required>
                         </div> 
                        
                         <button class="btn btn-primary" type="submit">SUBMIT</button>
                         <div class="form-group">
                            
                            

                         </div>

                     </div>
                 </div>
             </div>
         </form>
             
     
         </div>
         </div>
         </div>
     </div>
 </main>



{% endblock %}