<html>
    <head>
        <style>
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
th,td{
    padding:12px;
}
        </style>
    </head>
<body>
    <a href="{% url 'pdf' id=appoinments.id %}"><button>Download</button></a>
<table  width="70%" text-align="center"  >
    <h1 style="font-size: 20px" >Appoinment</h1>
        
        <tr>
            <th> Id</th>
            <td>{{appoinments.id}}</td>
        </tr>
        <tr>
            <th> Date</th>
            <td>{{appoinments.appoinmentdate}}</td>
        </tr>
       
        <tr>
            <th>Name</th>
            <td>{{appoinments.name}}</td>
        </tr>

        <tr>
            <th>Phone No</th>
            <td>{{appoinments.phone}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{appoinments.email}}</td>
        </tr>

        <tr>
            <th>Address</th>
            <td>{{appoinments.address}}</td>
        </tr>

        <tr>
            <th>Department</th>
            <td>{{appoinments.department}}</td>
        </tr>

        <tr>
            <th>Doctor</th>
            <td>{{appoinments.doctor}}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{appoinments.comment}}</td>
        </tr>

    </table>

</body>
</html>

