{% extends 'base.html' %}
{% load static %}
{% block content %}


                        <div class="card mb-4 ">
                            <div class="card-header">Subscription</div>
                            <div class="card-body">
                                <div class="datatable">
                                    <div class="row" style="margin-bottom: 20px;">
                                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'orders' %}">
                                            {% csrf_token %}
                                <!-- <div class="col-sm-8"> -->
                                    <div class="form-group">
                                        <!-- &nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="order number" type="text" placeholder="Sales Order No"> -->
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="start date" type="date" placeholder="Start Invoice date">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="end date" type="date" placeholder="End Invoice date">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">search</button>

                                    </div>
                                        </form>
                                    </div>
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>User Name</th>
                                                <th>Program Category</th>
                                                <th>Training Start Date</th>
                                                <th>Training Start Time</th>
                                                <th>Amount Paid</th>
                                               
                                            </tr>
                                        </thead>
                                        
                                        <tbody>


                                           {% for i in orders %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.userid.first_name}}</td>
                                                <td>{{i.categoryid.category}}</td>
                                                <td>{{i.date}}</td>
                                                <td>{{i.time}}</td>
                                                <td>{{i.amount}}</td>
                                              
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="">
                                        <span class="">
                                            {% if orders.has_previous %}
                                            <a href="?page={{orders.previous_page_number}}">Previous</a>
                                            {% endif %}
                                            <span class="">
                                                Page {{orders.number}} of {{orders.paginator.num_pages}}.
                                            </span>
                                            {% if orders.has_next %}
                                            <a href="?page={{orders.next_page_number}}">>></a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


 {% endblock %}