{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="mt-100 mb-100">
   
   
 
     <div class="container mt-100 mb-100">

         <div class="row">
             <div class="col-md-6">
                 <div class="card">
                   
                     <div class="card-body">
                         <h5>Update DEPARTMENT</h5>
                        
                     <form  action="#" method="POST"">
                         {% csrf_token %}
                         {% for i in doctor_values %}
                         <div class="form-group">
                             <label for="department">Doctor Name</label>
                             <input class="form-control" id="doctor"  type="text" name='doctor' value="{{ i.doctor }}" required>
                         </div>
                         
                         <select  class="form-control" id="departmentSelect" name="departments"  required>
                            <option value="" selected="">---Select Department---</option>
                            
                            {% for k in department_values %}
    
                            <option value="{{k.id}}" {% if k.id == i.department.id %} selected {%endif%}>{{k.department}}</option>
                            {% endfor %}
                           </select>
                           {% endfor %}
                           <div class="pt-5">              
                         <button class="btn btn-primary" type="submit"> Update </button>
                        

                         </div>
                        </form>
                        
                        
                     </div>
                 </div>
             </div>
         
            
         </div>
         </div>
         </div>
     </div>
 </main>



{% endblock %}